<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nyiko</title>
    <style>
  body{background-color:blue;
        }
        table,th,td{border: 5px solid green;}

    </style>
</head>
<body background="https://cdn.pixabay.com/photo/2013/06/14/18/50/flower-139356_1280.jpg";
    "background-size:100% 100%"
>

<h1>Welcome to our page</h1>
<h3>Just trying out some cool stuff</h3>
<ul>
    <li>Python</li>
    <li>Java</li>
</ul>
<table style="width:30%">
    <tr>
        <th>html</th>
        <th>javascripts</th>
    </tr>
    <tr>
        <td>pycharm</td>
        <td>Eclipse</td>
    </tr>
</table>
</body>
</html>